@model SmartParcel.DataClasses.CreateRole

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form  method="post">
                <h4>Create a new Role.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group row">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary" >Create Role</button>
            </form>
        </div>
    </div>
</div>